{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Deleted" %}{% endblock %}

{% block content %}
    <h2>{% trans "Password Deleted" %}</h2>
    <p>{% blocktrans %}Your password has been deleted.{% endblocktrans %}</p>
{% endblock %}
{% endraw %}
